$dropDirection: "start", "end", "up", "down";

.dropdown .dropdown-toggle:after, .dropdown .dropdown-toggle:before {
  display: none;
}

@each $dir in $dropDirection {
    .drop#{$dir} .dropdown-toggle:after, .drop#{$dir} .dropdown-toggle:before {
        display: none;
    }
}

.dropdown-item {
    border-radius: $dropdown-item-border-radius;
}
[data-bs-theme="dark"]
.dropdown .dropdown-item:active {
    background-color: $dropdown-dark-link-active-bg;
    color: $dropdown-dark-link-active-color;
}