.dropdown:hover .btn-reveal-sm, .dropdown:focus .btn-reveal-sm {
  box-shadow: var(--falcon-box-shadow-sm);
}
.dropdown .btn-reveal {
  box-shadow: none;
}
.dropdown .btn-reveal:active:focus, .dropdown .btn-reveal:active, .dropdown .btn-reveal:focus {
  box-shadow: none;
  color: var(--falcon-btn-reveal-hover-color) !important;
  background-color: var(--falcon-btn-reveal-focus-bg);
  border-color: var(--falcon-btn-reveal-focus-border-color);
}
.dropdown .dropdown-toggle:after, .dropdown .dropdown-toggle:before {
  display: none;
}